*{
  box-sizing: border-box;
}

p{
  font-family: Roboto Slab;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}
a{
  font-family: Roboto Slab;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
li{
  list-style: none;
}
h3{
  font-family: Roboto Slab;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}
.container{
  width: 100%;
  float: left;
  min-height: 100%;
  position: absolute;
}
.nav{
  width: 300px;
  height: 100%;
  background: #263238;
  position: absolute;
}
.logo{
  width: 100%;
  height: 60px;
  background: #d32f2f;
  text-align: center;
}
.logo h3{
  padding-top: 15px;
  font-size: 25px;
  font-family: open-sans;
  opacity: 0.85;
}
.sidebar{
  float: left;
}
.sidebar p{
  width: 100%;
  float: left;
  line-height: 25px;
  padding: 10px 0px 10px 15px;
  border-bottom: 1px solid #455a64;
}
.sidebar ul{
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}
.sidebar li{
  float: left;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.sidebar a{
  display: block;
  float: left;
  width: 100%;
  line-height: 19px;
  color: #fff;
  padding: 15px 15px 15px 45px;
  border-bottom: 1px solid #455a64;
  vertical-align: text-bottom;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.sidebar a:hover{
  background: #37474f;
  opacity: 1;
}
.page_content{
  min-height: 100%;
  margin-left: 300px;
  display: block;
  position: relative;
}
.nav_hor{
  width: 100%;
  height: 60px;
  background: #263238;
  text-align: center;
}
.nav_hor span{
  float: right;
  padding: 20px 35px 0px 0px;
}
.stats_main{
  width: 99%;
  height: 250px;
  position: relative;
  background: transparent;
  margin: 25px 3px 25px 15px;
}
.title{
  width: 100%;
  text-align: center;
  padding:10px 0px 10px 0px;
}
.title p{
  color: #212121;
  font-size: 20px;
}
.stats_box{
  position: relative;
  float: left;
  width: 23%;
  height: 150px;
  background: #fbfbfb;
  margin: 15px 10px 5px 16px;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  right: 0;
}
.stats_box h3{
  color: #212121;
  padding-top: 10px;
  opacity: 0.9;
}
.stats_box p{
  color: #212121;
  padding-top: 10px;
  line-height: 25px;
  font-size: 28px;
}
.last_content{
  width: 98%;
  height: 350px;
  float: left;
  position: relative;
  background: transparent;
  margin: 25px 3px 25px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 25px 0 rgba(0, 0, 0, 0.19);
  clear: both;
}
.last_ad{
  text-align: center;
}
.last_ad p{
  color: #212121;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.tables{
  border-collapse: collapse;
  width: 100%;
}
.last_content td,th{
  padding-top: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 36px;
  opacity: 0.8;
  text-align: center;
}
